<h1>Contact List</h1>

<!-- TODO: Our List Component -->


<!-- Button to show Example of Navigation to Contact Detail -->

<button mat-raised-button color="primary" routerLink='/home'>Go Back Home</button>

<button mat-raised-button color="success" routerLink='/contacts/{{id}}' [state]="contact" >Go to Detail</button>
